alembic>=0.7.6,!=0.8.1,!=0.9.0
boto3
botocore>=1.5
cachetools
cotyledon>=1.5.0
coverage>=3.6
cradox>=2.0.0
daiquiri
fixtures
gabbi>=1.37.0
hiredis
iso8601
Jinja2
jsonpatch
keystonemiddleware>=4.0.0,!=4.19.0
lz4>=0.9.0
mock
monotonic
numpy>=1.9.0
os-testr
oslo.config>=3.22.0
oslo.db>=4.29.0
oslo.middleware>=3.22.0
oslo.policy>=0.3.0
Paste
PasteDeploy
pecan>=0.9
pifpaf[ceph,gnocchi]>=1.0.1
protobuf
psycopg2
pymysql
pyparsing>=2.2.0
python-qpid-proton>=0.17.0
python-snappy
python-subunit>=0.0.18
python-swiftclient
pytimeparse
PyYAML
redis>=2.10.0 # MIT
reno>=1.6.2
six
sphinx
sphinx_rtd_theme
sphinxcontrib-httpdomain
sqlalchemy
sqlalchemy-utils
stevedore
tenacity>=4.6.0
testrepository
testresources>=0.2.4 # Apache-2.0/BSD
testscenarios
testtools>=0.9.38
tooz>=1.38
trollius; python_version < '3.4'
ujson
voluptuous>=0.8.10
WebOb>=1.4.1
WebTest>=2.0.16
werkzeug
wsgi_intercept>=1.4.1
xattr!=0.9.4  # https://github.com/gnocchixyz/gnocchi/issues/951
